{% load staticfiles %}{% load static %} {%include 'BDTodoEstetica/includes/menu.html'%}
<img src="{{object.Imagen.url}}" alt="texto entrada">
<div class="contenido">
    <h3 class="precio">${{object.Precio}}</h3>
    <h3>{{object.Marca}}</h3>
    <p>{{object.NombreProducto}}</p>
    <p>{{object.Descripcion}}</p>
    <span>{{object.NombreTienda}}</span>
    </p>

    <h3>marca :{{object.Marca}}</h3>
    {% if request.user.is_staff %}
    <a target="_self" href="{% url 'inicio:update' object.id%}" class=" boton animacion-boton ">Editar Producto</a>
    <a target="_self" href="{% url 'inicio:delete' object.id%}" class=" boton animacion-boton ">Borrar Producto</a> {% else %}
    <a target="_self" href="#" class=" boton animacion-boton ">Comprar</a>{%endif%}